
.my-card-container {
  margin: 24px;
  display: flex;
  flex-flow: row wrap;
  align-content: left;
  justify-content: left;
}

.my-card-container .mdc-card {
  /* height: 250px;
  width: 250px; */
  margin: 10px;
}
